<footer id="Signupfooter">
    <div class="Signupdivfooter">
        <h2>Route Sense Socials</h2>
        <h4>X @RouteSense</h4>
        <h4>Reddit @RouteSense</h4>
        <p>&copy; 2024 Route Sense. All rights reserved.</p>
    </div>

    <div class="Signupdivfooter">
        <ul id="footerul">
            <li class="footerli"><a href="/Misc/About">About</a><br></li>
            <li class="footerli"><a href="/Misc/Careers">Careers</a><br></li>
            <li class="footerli"><a href="/Misc/CustomerSupport">Customer Support</a></li>
        </ul>
    </div>
</footer>