<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/MiscCSS/Careers.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap" rel="stylesheet">

    <title>Careers</title>
</head>

<body>
    <header>
        <ul id="navigation">
            <li><a id="logo" href="/">Route Sense</a></li>
        </ul>
    </header>
    <div id="careerDiv">
        <h1>Join Our Team at Route Sense!</h1>
        <p>At Route Sense, we're always on the lookout for talented individuals to join our team and help us redefine
            the future of travel and logistics. If you're passionate about innovation, customer satisfaction, and
            making a difference, we want to hear from you!</p>
        <h2>Current Openings</h2>
            <p>Software Engineer</p>
            <p>UX/UI Designer</p>
            <p>Data Analyst</p>
        <h2>How to Apply</h2>
        <p>If you're interested in any of the positions listed above or believe you can contribute in other ways,
            please send an email with your CV attached to <p><strong>CVSense@routesense.com</strong></p> Be sure to include
            the position you're applying for in the subject line.</p>
        <p>We look forward to hearing from you!</p>
    </div>
    <hr>


    <%- include("../footer.ejs") %>

    

</body>

</html>
