<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/MiscCSS/CustomerSupport.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap" rel="stylesheet">
	<head>
		<!-- Other meta tags and links -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	</head>
	
    <title>Customer Support | Route Sense</title>
</head>

<body>
    <header>
        <ul id="navigation">
            <li><a id="logo" href="/">Route Sense</a></li>
        </ul>
    </header>
	
    <div id="CustomerSupportDiv">
        <h1>Customer Support</h1>
        <p>If you have any questions or need assistance, our dedicated support team is here to help.</p>
        <p>Reach out to us through any of the following channels:</p>
        <div class="contact-methods">
            <div class="contact-method">
                <h2>Phone Support</h2>
                <p>Call our special support line:</p>
                <p><strong>+1-800-550090</strong></p>
                <p>Our support agents are available 24/7 to assist you.</p>
            </div>
            <div class="contact-method">
                <h2>Email Support</h2>
                <p>You can also reach us by email:</p>
                <p><strong>support@routesense.com</strong></p>
                <p>Please allow up to 1 hour for a response.</p>
                <p>If you are an operator please call our support line.</p>

            </div>
        </div>
    </div>

    <%- include("../footer.ejs") %>

</body>

</html>
